button.highlighted {
  opacity: 1;
  border: 2px solid #000000;
}

button.halfhighlight {
  opacity: 1;
}

button {
  display: inline-block;
  padding: 0.2rem;
  margin: 0.2rem;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  justify-content: center;
  width: 4rem;
  height: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0,0,0,.7);
  text-transform: capitalize;
  opacity: 0.4;
  transition: all 0.1s ease-in-out;
  backface-visibility: hidden;
}

button:hover {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}




button.primary,
button.secondary {
  opacity: 0.8;
}

button.primary.highlighted, button.secondary.highlighted {
  opacity: 1;
}

.type-container,
.primaryTypeContainer,
.secondaryTypeContainer,
.gen-container,
.stat-container,
.other-container {
  text-align: center;
  align-self: center;
  display: block;
  border-radius: 5px;
  padding: 5px;
}

.type-container button,
.primaryTypeContainer button,
.secondaryTypeContainer button,
.gen-container button,
.stat-container button,
.other-container button {
  display: inline-block;
}

.primaryTypeContainer button,
.secondaryTypeContainer button {
  width: 4rem;
}

.type-container button,
.gen-container button,
.stat-container button,
.other-container button {
  width: 5rem;
  height: 2rem;
}

.type-container button,
.primaryTypeContainer button,
.secondaryTypeContainer button,
.gen-container button,
.stat-container button,
.other-container button {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  justify-content: center;
  text-shadow: 1px 1px 2px rgba(0,0,0,.7);
  text-transform: capitalize;
}

.stat-container
 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin: 1rem auto;
  width: 10rem;
}

.other-container {
  width: 16rem;
  justify-items: center;
  margin: 1rem auto;

}

.filterbox {
  text-align: center;
  align-self: center;
  display: block;
  border-radius: 5px;
  padding: 5px;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.filterbox button {
  width: 5rem;
  height: 2rem;
}

.filterbox button,
.type-container button,
.primaryTypeContainer button,
.secondaryTypeContainer button,
.gen-container button,
.stat-container button,
.other-container button {
  margin: 0.15rem;
  border-radius: 5px;
}

.primaryTypeContainer,
.secondaryTypeContainer {
  text-align: center;
  align-self: center;
  display: block;
  border-radius: 5px;
  padding: 5px;
}

#my-div {
  display: none; /* set the default state to hidden */
}
.show {
  display: block; /* show the div when the 'show' class is applied */
}


