
body {
  box-sizing: border-box;
}

.App {
  text-align: center;
  align-content: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  padding: 2rem, 2rem;
}

.container-wrapper {
  padding: 1rem;
}

.container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
  padding: 0px;
  max-width: 125rem;
  margin-bottom: 10rem;
  align-self: center;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  gap: 1rem;
}
.filterbox {
 margin: 0 0 auto;
}

/* Set 3 columns on screens that are at least 400px wide */


.paginationcontainer {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-self: center;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
  background-color: white;
  opacity: 1;
  z-index: 10000;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8rem;
}

/* Button style */
button.pagebutton:disabled {
  background-color: lightgrey;
  box-shadow: none;
  cursor: default;

  
}
button.pagebutton:disabled:hover {
  translate: transformY(0px);
  transform: none;
}


button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #000000;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin: 20px;
}

/* Active button style */
button:active {
  background-color: #4e4e4e;
}

button:hover {
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.nopokemon {
  text-align: center;
  align-self: center;
  display: block;
  opacity: 1;
  bottom: 0;
  width: 100%;
  height: 30rem;
  margin: 0.5rem auto 10rem; 
}

.nopokemon img {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  display: block;
  opacity: 1;
  bottom: 0;
  width: 20rem;
  height: 20rem;
}

.nopokemon h1{
  font-size: 2rem;
  margin: 0 auto;
  display: block;
  opacity: 1;
  bottom: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  text-transform: capitalize;
}

.nopokemon p {
  font-size: 1rem;
  margin: 0 auto;
  display: block;
  opacity: 1;
  bottom: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  text-transform: capitalize;
}





