
  

  .gen-card-background:hover {
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  
  .gen-image-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    position: relative;
    object-fit: contain;
    padding: 0.5rem; 
    padding-bottom: 0;
    height: 75%;
    width: same-as-height;
    margin: 0px;
    box-sizing: border-box;
    position: relative;
  }

  a {
    width: 100%;
    height: 100%;
  }
  
  .gencard-pokemon {
    height: 100%;
    width: 100%;
    position: relative;
  }

  .gencard-pokemon img {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .gen-card-content {
    padding: 0rem;
    text-align: center;
    white-space: nowrap; 
    overflow: hidden;
    padding-top: 0;
    align-self: flex-end;
    height: 25%;
    box-sizing: border-box;
    padding-bottom: 0.2rem;
  }

  #gen-silhouette {
    -webkit-filter: grayscale(100%) brightness(0);
    filter: grayscale(100%) brightness(0);
    opacity: 0.2;
    height: 105%;
    width: 105%;
    position: absolute;
    z-index: -1;
    left: 0.2rem;
    top: -0.45rem;
    transition: ease-in;

  }

  .gencard-pokemon.one, .gencard-pokemon.two, .gencard-pokemon.three {
    top: 0;
    left: 0;
  }



  .card-content p {
    margin: 0;
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .gen-card-content h3 {
    margin: 0;
    font-size: 1.3rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
  }
  

  .gen-card {
    width: 20rem;
    height: 10rem;
  }

  .gen-card-background
  {
    border-radius: 0.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: transform 0.3s ease-out;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

  .gencard-pokemon img.highlighted
  {
    opacity: 1;
  }
  .gencard-pokemon img.notHighLighted
  {
    opacity: 0;

  }
  

