body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  html {
    font-size: 10px;


  }

  @media screen and (max-width: 768px) {
    .container {
      max-width: 100%;
      padding: 0 0.5rem;
    }
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  * {
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
  }
  
  /* Set font size to 18px on screens that are at least 600px wide */
  
  
  