.pagination {
    align-self: center;
    justify-self: center;
    display: flex;
    margin: auto;
    max-width: 8rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba();
    height: 100%;
}

.pagination button {
    display: flex;
    background-color: #ff9a56;
    opacity: 0.9;
    font-size: 1.3rem;
    padding: 0;
    width: 1.8rem;
    height: 1.8rem;    
    margin-top: 0.2rem;
    margin: 1rem;
}



