.pagination {
    align-self: center;
    justify-self: center;
    display: flex;
    margin: auto;
    max-width: 20rem;
    
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba();
    height: 5rem;
}

.pagination button {
    display: flex;
    background-color: #ff9a56;
    opacity: 0.9;
    font-size: 3rem;
    padding: 0;
    width: 4rem;
    height: 4rem;    
    margin: 1rem 1rem;
}



