.search-container img{
    width: 2.5rem;
    height: 2.5rem;
    margin: auto auto;
  }
  
  /* Style for search input */
  input[type="text"] {
    border: none;
    border-bottom: 2px solid #aaa;
    outline: none;
    font-size: 16px;
    padding: 0.2rem;
    width: 0rem;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    transition: width 0.3s ease; /* Add a transition to the border */
  }

  input[type="text"]:focus {
    width: 15rem; /* Set the border color when the input is focused */
  }

    /* Style for search button */
    .search-box {
        display: flex;
        align-self: right;
    }

.search-box a {
    display: flex;
    align-items: center;
    justify-items: center;
}